.imc-calculadora {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #FF8C00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff7700;
  }
  
  .resultado {
    margin-top: 15px;
    font-weight: bold;
  }


  /* Adicione estilos ao container principal do calendário */
.p-datepicker {
  background-color: #fff; /* Cor de fundo */
  border: 1px solid #ccc; /* Borda */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilize os botões de navegação */
.p-datepicker-prev,
.p-datepicker-next {
  background-color: #ff7700; /* Cor de fundo dos botões de navegação */
  color: #fff; /* Cor do texto dos botões de navegação */
  border: none;
}

/* Estilize os dias do mês */
.p-datepicker-calendar-container .p-datepicker-calendar tbody span {
  cursor: pointer;
  padding: 8px;
  margin: 2px;
  border-radius: 4px;
}

/* Adicione uma cor de fundo ao dia atual */
.p-datepicker-today {
  background-color: #ff7700;
  color: #fff;
}

/* Estilize os dias desabilitados (por exemplo, dias de outros meses) */
.p-datepicker-other-month .p-disabled {
  color: #aaa;
}




.resultado p span {
  color: black; /* Ou a cor que desejar */
}

.vermelho {
  color: red;
}

.verde {
  color: green;
}

.amarelo {
  color: #f3f300;
}


.roxo
{
  color: rebeccapurple;
}









  